@model HospitalDomain.Model.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details Appointment</h1>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <td>@Html.DisplayFor(model => model.Date)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Time)</th>
            <td>@Html.DisplayFor(model => model.Time)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Reason)</th>
            <td>@Html.DisplayFor(model => model.Reason)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DoctorNavigation)</th>
            <td>@Html.DisplayFor(model => model.DoctorNavigation.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PatientNavigation)</th>
            <td>@Html.DisplayFor(model => model.PatientNavigation.Name)</td>
        </tr>
    </table>
</div>

<div>
    <a asp-action="Edit" class="btn btn-primary"  asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
