@model HospitalDomain.Model.Doctor
@using HospitalDomain.Utils  <!-- Ensure the namespace is correct -->
@{
    ViewData["Title"] = "Details";
}

<h1>Details Doctor</h1>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Speciality)</th>
            <td>@Html.DisplayFor(model => model.Speciality)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Contact)</th>
            <td>@Html.DisplayFor(model => model.Contact)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DepartmentNavigation)</th>
            <td>
                @Html.ActionLink(Model.DepartmentNavigation.Name, "Details", "Departments", new { Id = Model.DepartmentNavigation.Id }, new { @class = "action-link" })
            </td>
        </tr>
    </table>
</div>

<div class="mt-5">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>