@model IEnumerable<HospitalDomain.Model.Doctor>
@using Utils

@{
    ViewData["Title"] = "Doctors";
}

<h1 class="page-title">Doctors</h1>


<table class="table department-table">
    <thead class="table-header">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Speciality)</th>
            <th>@Html.DisplayNameFor(model => model.Contact)</th>
            <th>@Html.DisplayNameFor(model => model.DepartmentNavigation.Name)</th>
            @if (CheckRole.IsInRoles(User, new string[] { RoleList.Admin, RoleList.Manager }))
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Speciality)</td>
                <td>@Html.DisplayFor(modelItem => item.Contact)</td>
                <td>@Html.DisplayFor(modelItem => item.DepartmentNavigation.Name)</td>
                @if (CheckRole.IsInRoles(User, new string[] { RoleList.Admin, RoleList.Manager }))
                {
                    <td class="action-links">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("View Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (CheckRole.IsInRoles(User, new string[] { RoleList.Admin, RoleList.Manager }))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Doctor</a>
    </p>
}