@model IEnumerable<HospitalDomain.Model.Room>

@{
    ViewData["Title"] = "Rooms";
}

<h1 class="page-title">Rooms</h1>


<table class="table department-table">
    <thead class="table-header">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Capacity)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                <td class="action-links">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("View Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Room</a>
</p>